/* Base */
body {
  font-family: 'Roboto', sans-serif;
}

/* Navigation Bar */
.navbar {
  padding: 10px 200px;
  background-color: white; 
  transition: all ease 0.4s;
  margin-top: 40PX;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 0

}
.navbar .navbar-brand {

}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:active,
.navbar .navbar-brand:focus {
  color: #000000;
}
.navbar .navbar-nav li a {
  font-weight: bold;
  color: #000000 !important;
}
.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:active,
.navbar .navbar-nav li a:focus {
  color: #A9A9A9	
  !important;
}
.navbar .navbar-nav li a.active {
  color: #000000 !important;
}


.TESTING{
  margin-top: -1%;
  margin-left: 90%;
}

/* Home Section */
#home {
  padding: 5px 0px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


}
#home h1 {
  margin-top: 40px; 
  font-weight: bold;

}


.login-signup{
  margin-top: 1PX;
}
  

.hero h1{
  font-size: 55px;
}


.textp{
  text-align: justify;
  margin-left: 25%;
  font-size: 26px;

}

/* Product Card*/

.card-body{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


/*Button add to cart*/

.buttona {
  background-color: black; 
  border: none;
  color: white; 
  padding: 15px 120px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

/* Go Shop Now Section */
.txtheading{
  margin-top: 100px;
}

.category-men{
  text-align: center;

}

/* Product Main image*/
.responsive{
  width: 100%;
  max-width: 400px;
  height: auto;
}

a:link {
  text-decoration: none;
}

.back-icon{
  margin-right: 500px;

}



.back-icon a:link {
  text-decoration: none;
  color: black;
}

.back-icon a:active {
  text-decoration: none;
  color: black;
}

.back-icon a:hover {
  text-decoration: none;
  color: gray
}


/* CART PAGE */

.products-container ion-icon {
  font-size: 25px;
  color: blue;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  }

.price{
  margin-left: 100%;
  margin-top: -10%;
  text-align: center;
 

 

}



.quantity{
  margin-left: 117%;
  margin-top: -5%; 
  
 
}


.baskettotalContainer{
margin-left: 125%;
display: flex;
text-align: center;


  

}




.total{
  margin-left: 130%;
  margin-top: -5.5%; 
}



/* Media Quires */
@media screen
and ( max-width: 768px ) {
  /* Navigation Bar */
  .navbar .navbar-collapse {
    background-color: white; 
    padding: 2px;
    margin-top: 1px;
  }

  /* Home Section */
  #home button {
    margin-top: 15px;
  }

  /* Download Section */
  #download h3 {
    font-size: 30px;
  }
  #download .downloads img {
    width: 48%;
  }

  /* Contact Section */
  #contact h4 {
    margin-top: 20px;

   

  }

  div.nav2{ 
    Position: absolute;
    right: 8%; 
    top: 1%;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: var(--dark-color); 
    
    }
    
     
  .hero h1{
    font-size: 40px;
  } 


  .textp{
    text-align: justify;
    margin-left: 25%;
    font-size: 18px;
  
  }
  
  .navbar {
    padding: 0px 0px;
    background-color: white; 
    transition: all ease 0.4s;
    margin-top: 40PX;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 0
  
  }
